body {
	margin: 0px;
}

#questionZone {
	width: 80%;
	color: white;
	text-align: center;
	vertical-align: top;
	background: url(../images/background.png) no-repeat;
	background-size: 100% 100%;
}

#questions {
	padding-top: 30px;
	padding-left: 200px;
	display: block;
	overflow: hidden;
	clear: both;
}

.q1 {
	font-size: 40px;
	float: left;
	padding-top: 50px;
	width: 200px;
	height: 100px;
	background: url(../images/spits1.png) no-repeat;
	background-size: 100% 100%;
}

.q2 {
	font-size: 40px;
	float: left;
	padding-top: 50px;
	width: 200px;
	height: 100px;
	background: url(../images/spits2.png) no-repeat;
	background-size: 100% 100%;
}

.q3 {
	font-size: 40px;
	float: left;
	padding-top: 50px;
	width: 200px;
	height: 100px;
	background: url(../images/spits3.png) no-repeat;
	background-size: 100% 100%;
}

#leaderboardZone {
	vertical-align: top;
	background: url(../images/leaderboard.png) no-repeat;
	background-size: 100% 100%;
}

#scoreTable {
	padding-top: 15px;
}

#scoreTable tr td {
	color: white;
	text-align: center;
	padding-right: 5px;
}

#formZone {
	height: 45px;
	text-align: left;
	vertical-align: bottom;
	background-color: white;
}

#addScoreShow {
	display: none;
	font-size: 100px;
}